## DataMining Assignment 2

In [39]:
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [40]:
movies = pd.read_csv('data/movies.csv')
ratings = pd.read_csv('data/ratings.csv')
tags = pd.read_csv('data/tags.csv')
links = pd.read_csv('data/links.csv')

In [41]:
print("Totoal number of Movies: "+str(len(movies)))
print("Totoal number of Users: "+str(ratings.userId.nunique()))

Totoal number of Movies: 9742
Totoal number of Users: 610

Merging data

### Note: From README.txt
_Timestamps represent seconds since midnight Coordinated Universal Time (UTC) of January 1, 1970_

In our case of study this attribute has no importance, so we will get rid of it

In [42]:
tags.drop(columns=['timestamp'], inplace=True)
ratings.drop(columns=['timestamp'], inplace=True)

In [43]:
merged_data = pd.merge(ratings, movies, on='movieId')
merged_data = pd.merge(merged_data, tags, on=['userId', 'movieId'], how='left')

merged_data.dropna(inplace=True)

merged_data.drop_duplicates(inplace=True)

merged_data

,userId,movieId,rating,title,genres,tag
121,336,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar
164,474,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar
193,567,1,3.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,fun
241,289,3,2.5,Grumpier Old Men (1995),Comedy|Romance,moldy
242,289,3,2.5,Grumpier Old Men (1995),Comedy|Romance,old
...,...,...,...,...,...,...
101768,567,170945,3.5,It Comes at Night (2017),Horror|Mystery|Thriller,Suspenseful
101769,567,176419,3.0,Mother! (2017),Drama|Horror|Mystery|Thriller,allegorical
101770,567,176419,3.0,Mother! (2017),Drama|Horror|Mystery|Thriller,uncomfortable
101771,567,176419,3.0,Mother! (2017),Drama|Horror|Mystery|Thriller,unsettling
102428,606,6107,4.0,Night of the Shooting Stars (Notte di San Lore...,Drama|War,World War II

In [44]:
avreage_rating = merged_data.groupby('movieId')['rating'].mean().reset_index()
avreage_rating.columns = ['movieId', 'avreage_rating']

merged_data = pd.merge(merged_data, avreage_rating, on='movieId')

merged_data

,userId,movieId,rating,title,genres,tag,avreage_rating
0,336,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar,3.833333
1,474,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar,3.833333
2,567,1,3.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,fun,3.833333
3,289,3,2.5,Grumpier Old Men (1995),Comedy|Romance,moldy,2.500000
4,289,3,2.5,Grumpier Old Men (1995),Comedy|Romance,old,2.500000
...,...,...,...,...,...,...,...
3471,567,170945,3.5,It Comes at Night (2017),Horror|Mystery|Thriller,Suspenseful,3.500000
3472,567,176419,3.0,Mother! (2017),Drama|Horror|Mystery|Thriller,allegorical,3.000000
3473,567,176419,3.0,Mother! (2017),Drama|Horror|Mystery|Thriller,uncomfortable,3.000000
3474,567,176419,3.0,Mother! (2017),Drama|Horror|Mystery|Thriller,unsettling,3.000000
3475,606,6107,4.0,Night of the Shooting Stars (Notte di San Lore...,Drama|War,World War II,4.000000

In [71]:
new_merged_data = copy.deepcopy(merged_data)

In [72]:
genres_list = []

for index, row in new_merged_data.iterrows():
    genres = row['genres'].split('|')
    for genre in genres:
        if genre not in genres_list:
            genres_list.append(genre)

for genre in genres_list:
    new_merged_data[genre] = 0

for index, row in new_merged_data.iterrows():
    genres = row['genres'].split('|')
    for genre in genres:
        new_merged_data.at[index, genre] = 1

new_merged_data

,userId,movieId,rating,title,genres,tag,avreage_rating,Adventure,Animation,Children,...,Drama,War,Sci-Fi,Western,Horror,Musical,Film-Noir,IMAX,Documentary,(no genres listed)
0,336,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar,3.833333,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,474,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar,3.833333,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,567,1,3.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,fun,3.833333,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,289,3,2.5,Grumpier Old Men (1995),Comedy|Romance,moldy,2.500000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,289,3,2.5,Grumpier Old Men (1995),Comedy|Romance,old,2.500000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471,567,170945,3.5,It Comes at Night (2017),Horror|Mystery|Thriller,Suspenseful,3.500000,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3472,567,176419,3.0,Mother! (2017),Drama|Horror|Mystery|Thriller,allegorical,3.000000,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3473,567,176419,3.0,Mother! (2017),Drama|Horror|Mystery|Thriller,uncomfortable,3.000000,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3474,567,176419,3.0,Mother! (2017),Drama|Horror|Mystery|Thriller,unsettling,3.000000,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3475,606,6107,4.0,Night of the Shooting Stars (Notte di San Lore...,Drama|War,World War II,4.000000,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [74]:
new_merged_data.drop(columns=['genres', 'title', '(no genres listed)'], inplace=True)

In [88]:
tags = []

for index, row in new_merged_data.iterrows():
    if row['tag'] not in tags:
        tags.append(row['tag'])


for i in range(len(tags)):
    new_merged_data.loc[new_merged_data['tag'] == tags[i], 'tag'] = i+1


new_merged_data

,userId,movieId,rating,tag,avreage_rating,Adventure,Animation,Children,Comedy,Fantasy,...,Action,Drama,War,Sci-Fi,Western,Horror,Musical,Film-Noir,IMAX,Documentary
0,336,1,4.0,1,3.833333,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,474,1,4.0,1,3.833333,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,567,1,3.5,2,3.833333,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,289,3,2.5,3,2.500000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,289,3,2.5,4,2.500000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471,567,170945,3.5,1540,3.500000,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3472,567,176419,3.0,1541,3.000000,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3473,567,176419,3.0,1542,3.000000,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3474,567,176419,3.0,1543,3.000000,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3475,606,6107,4.0,316,4.000000,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0